/*font-family: 'Poppins', sans-serif;*/ 

* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

.container {
    margin: 0 6em
}


.Logo-name {
left: 13.3%;
right: 76.48%;
top: 32.05%;
bottom: 30.8%;
background: #173A56;
}

.main-title {

    max-width: 518px;
    width: 100%;
    margin-top: 211;
    margin-left: 145px;
    height: 108px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
} 

.main-info {

    max-width: 458px;
    width: 100%;
    height: 95px;
    margin-top: 14px;
    margin-left: 145px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;

}

.btn-get {
background: #FF9900;
border-radius: 4px;
border: none;
}

.btn-get {
height: 40px;
width: 130px;
margin-top: 43px;
margin-left: 144px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;
}