/*font-family: 'Poppins', sans-serif;*/ 



.Logo-name {
left: 13.3%;
right: 76.48%;
top: 32.05%;
bottom: 30.8%;

}



.main-title {

    max-width: 518px;
    width: 100%;
    font-weight: 700;
    margin-top: 211;
    margin-left: 145px;
    height: 108px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
} 

.main-info {

    max-width: 458px;
    width: 100%;
    height: 91px;
    margin-top: 30px;
    margin-left: 145px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;

}


.btn-get {
background: #FF9900;
border-radius: 4px;
border: none;
height: 38px;
width: 130px;
margin-top: 43px;
margin-left: 144px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

img {
width: 19,27px;
height: 17px;
margin-left: 18px;
right: 10px;
margin-top: 3px;
margin-bottom: -2px;
border-radius: 1.125px;
}

a {
width: 135px;
height: 24px;
margin-left: 3px;
right: 10px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-decoration-line: underline;
color: #FF9900;

}

.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
width: 1300px;
height: 78px;
left: 0px;
top: 20px;
}

.nav ul li {
display: inline-block;
position: static; 
width: 130px;
height: 28px;
left: 0;
right: 0;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 200% */
color: #2F281E;
} 
    
.nav ul.nav-list {
    list-style-type: none;

} 

#Signin {
width: 80px;
height: 34px;
left: 73.5%;
right: 19.21%;
top: 19.23%;
bottom: 21.79%;
}